{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Seus Agendamentos</strong>
    <p>Acompanhe os seus agendamentos de hoje:</p>

    <ul class="providers">
      {% for appointment in appointments %}
        <li class="provider">
          <div>
            <img src="/files/{{appointment.user.avatar}}" />
            <div>
              <strong>{{appointment.user.name}}</strong>
              <strong>{{ appointment.date | date("HH:mm") }}</strong>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
